   <div class="container py-5">
	<div class="row min-vh-50 align-items-center">
		<div class="col-md-12 text-center">
			<div class="lc-block mb-4">
				<div editable="rich">
					<h2 class="display-3 fw-bolder">Reach us</h2>
					<p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do<br>&nbsp;eiusmod tempor incididunt ut labore et dolore magna aliqua.&nbsp;</p>

				</div>
			</div><!-- /lc-block -->
			<div class="lc-block mb-5">
				<a class="btn btn-lg btn-dark" href="https://goo.gl/maps/zy3NkDKV3x4iyUkL9" role="button">VIEW MAP</a>
			</div><!-- /lc-block -->
			<div class="lc-block border-top col-md-6 offset-md-3">
				<div editable="rich">
					<h2 class="fw-bolder"><br></h2>
				</div>
			</div>
			<div class="lc-block mb-4">
				<div editable="rich">
					<h2 class="fw-bolder">Working Hours</h2>
				</div>
			</div>
			<div class="lc-block">
				<div editable="rich">
					<p>Monday to Friday: 07:00 – 19:45</p>
					<p>Saturday to Sunday: 11:00 – 17:00</p>
				</div>
			</div><!-- /lc-block -->
		</div><!-- /col -->
	</div>
</div> 
 
  